// numbers
:root {
    --ui-transition-duration: 0.3s;
    --ui-tooltip-padding: 6px 12px;
    --ui-tooltip-border-radius: 3px;
    --ui-popover-padding: 6px 12px;
    --ui-popover-border-radius: 3px;
}

// colors
:root {
    color-scheme: light dark;
    --ui-tooltip-backcolor: #444;
    --ui-tooltip-shadow: 0px 4px 8px 0px #00000010;
    --ui-tooltip-color: #fff;
    --ui-popover-backcolor: #fff;
    --ui-popover-color: #333;
    --ui-popover-shadow: 0px 4px 8px 0px #00000010;
}

:root[data-theme="dark"] {
    --ui-tooltip-backcolor: #fff;
    --ui-tooltip-color: #333;
}

.ui-slidefade-enter-active,
.ui-slidefade-leave-active {
    transition: opacity var(--ui-transition-duration) ease;
    // transform var(--ui-transition-duration) ease;
}

.ui-slidefade-enter-from,
.ui-slidefade-leave-to {
    opacity: 0;
    // transform: translateY(-4px);
}

.ui-fade-enter-active,
.ui-fade-leave-active {
    transition: opacity var(--ui-transition-duration) ease,
}

.ui-fade-enter-from,
.ui-fade-leave-to {
    opacity: 0;
}

//-------base style
.ui-flex {
    display: flex;
}

.ui-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-flex-column {
    flex-direction: column;
}

.ui-flex-row {
    flex-direction: row;
}

.ui-flex-align-start {
    align-items: flex-start;
}

.ui-flex-align-center {
    align-items: center;
}

.ui-flex-align-end {
    align-items: flex-end;
}

.ui-flex-align-baseline {
    align-items: baseline;
}

.ui-flex-align-stretch {
    align-items: stretch;
}

.ui-flex-justify-start {
    justify-content: flex-start;
}

.ui-flex-justify-center {
    justify-content: center;
}

.ui-flex-justify-end {
    justify-content: flex-end;
}

.ui-flex-justify-stretch {
    justify-content: stretch;
}

.ui-flex-justify-space-between {
    justify-content: space-between;
}

.ui-flex-justify-space-around {
    justify-content: space-around;
}

.ui-flex-justify-space-evenly {
    justify-content: space-evenly;
}

.ui-flex-one {
    flex: 1;
}

.ui-flex-fill-remain-x {
    min-width: 0;
}

.ui-flex-fill-remain-y {
    min-height: 0;
}

.ui-scroll-x {
    overflow-x: auto;
}

.ui-scroll-y {
    overflow-y: auto;
}

.ui-clickable {
    cursor: pointer;
}

.ui-relative {
    position: relative;
}

.ui-absolute {
    position: absolute;
}

.ui-fixed {
    position: fixed;
}

.ui-singleline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// ----- components styles
.ui-tooltip {
    position: relative;
    display: inline-block;
}

.ui-tooltip-content {
    contain: content;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: var(--ui-tooltip-backcolor);
    color: var(--ui-tooltip-color);
    box-shadow: var(--ui-tooltip-shadow);
    padding: var(--ui-tooltip-padding);
    border-radius: var(--ui-tooltip-border-radius);
    z-index: 1000;
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.ui-popover {
    position: relative;
    display: inline-block;
}

.ui-popover-content {
    contain: content;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--ui-popover-backcolor);
    color: var(--ui-popover-color);
    box-shadow: var(--ui-popover-shadow);
    padding: var(--ui-popover-padding);
    border-radius: var(--ui-popover-border-radius);
    z-index: 999;
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.ui-tab {
    gap: 28px;
    height: 50px;
    padding: 0 24px;
    overflow: hidden;
    // box-shadow: inset 0 -4px 8px #0002;

    .ui-tabitem {
        height: 40px;
        color: #121212;
        position: relative;
        padding: 0 8px;
        cursor: pointer;
        user-select: none;
        transition:
            color 0.3s ease,
            background 0.3s ease;

        &:hover {
            color: #1354ed;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -30px;
            height: 100%;
            width: 30px;
            z-index: 1;
            background: transparent;
            transition: background 0.3s ease;
            clip-path: path("M 0,40 C 20,40 10,0 30,0 L 30,40 Z");
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -30px;
            height: 100%;
            width: 30px;
            z-index: 1;
            background: transparent;
            transition: background 0.3s ease;
            clip-path: path("M 0,0 C 20,0 10,40 30,40 L 0, 40 Z");
        }
    }

    .ui-tabitem-active {
        background: white;
        color: #1354ed;
        // filter: drop-shadow(0 0 8px #0002);
        filter: drop-shadow(0 0 4px #0001);

        &::before {
            background: white;
        }

        &::after {
            background: white;
        }
    }
}

.ui-vtab {
    gap: 4px;
    overflow: hidden;
    padding: 8px 0;

    .ui-vtabitem {
        width: 32px;
        height: 32px;
        color: #121212;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        transition:
            color 0.3s ease,
            background 0.3s ease;

        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }

    .ui-vtabitem-active {
        background: white;
        color: #1354ed;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

        &:hover {
            background: white;
        }
    }
}

.ui-collapse {
    .ui-collapse-header {
        user-select: none;
        cursor: pointer;
    }

    .ui-collapse-content {
        height: 0;
        overflow: hidden;
        interpolate-size: allow-keywords;
        transition:
            height 0.3s,
            padding 0.3s ease;
    }
}

.ui-collapse[data-open="true"] {
    .ui-collapse-content {
        height: auto;
    }
}

.ui-virtual-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: safe center;

    & .ui-virtual-sizes {
        position: relative;
    }

    & .ui-virtual-content {
        position: absolute;
    }

    & .ui-virtual-list-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    & .ui-virtual-list-footer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    & .ui-virtual-list-item {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.ui-virtual-table {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: safe center;
}

.ui-cell-border {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        user-select: none;
        top: -0.5px;
        left: -0.5px;
        right: -0.5px;
        bottom: -0.5px;
        // z-index: -1;
    }
}

.ui-sorter {
    width: fit-content;
    height: auto;
    gap: 2px;

    & svg {
        width: 8px;
        height: auto;
        fill: #999;
        transition: fill 0.3s ease;
    }

    .ui-sorter-clickable {
        &:hover {
            & svg {
                fill: currentColor;
            }
        }
    }

    .ui-sorter-asc {
        padding: 2px 2px 0 2px;

        & svg {
            transform: rotateZ(-90deg);
        }
    }

    .ui-sorter-desc {
        padding: 0 2px 2px 2px;

        & svg {
            transform: rotateZ(90deg);
        }
    }
}

.ui-resizer {
    background-color: transparent;
}

.ui-resizer-hor {
    cursor: col-resize;
}

.ui-resizer-vert {
    cursor: row-resize;
}

.ui-resizer-all {
    cursor: move;
}

.ui-table-header {
    & .column-item {
        position: relative;

        & .hor-resizer {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 4px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: currentColor;
            }
        }

        & .hor-resizer-active {
            background-color: currentColor;
        }
    }
}

.ui-virtual-tree {
    & .ui-virtual-tree-expand-square {
        width: 12px;
        height: 12px;
        border: 1px solid currentColor;
        margin-right: 6px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 6px;
            height: 1px;
            margin: auto;
            border-top: 1px solid currentColor;
            transition: border-color 0.3s ease;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 6px;
            height: 1px;
            margin: auto;
            border-top: 1px solid currentColor;
            transform: rotateZ(90deg);
            transition:
                transform 0.3s ease,
                border-color 0.3s ease;
        }
    }

    & .ui-virtual-tree-expand-square[data-expanded="true"] {

        // border-color: red;
        // &::before {
        //     border-color: red;
        // }
        &::after {
            transform: rotateZ(0deg);
            // border-color: red;
        }
    }
}

.ui-checkbox {
    display: inline-flex;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;
    user-select: none;

    & .ui-checkbox-icon {
        width: 14px;
        height: 14px;
        border: 1px solid currentColor;
        border-radius: 2px;
        transition: background-color 0.3s ease;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 5px;
            height: 8px;
            border-top: 1.5px solid transparent;
            border-left: 1.5px solid transparent;
            transform: translateX(3.5px) translateY(1px) rotateZ(-135deg);
            transition: border-color 0.3s ease;
        }
    }

    &.active {
        & .ui-checkbox-icon {
            background-color: currentColor;

            &::after {
                border-color: white;
            }
        }
    }
}

.ui-checkbox-three-state {
    display: inline-flex;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;
    user-select: none;

    & .ui-checkbox-icon {
        width: 14px;
        height: 14px;
        border: 1px solid currentColor;
        border-radius: 2px;
        transition: background-color 0.3s ease;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 5px;
            height: 8px;
            border-top: 1.5px solid transparent;
            border-left: 1.5px solid transparent;
            transform: translateX(3.5px) translateY(1px) rotateZ(-135deg);
            transition: border-color 0.3s ease;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 0;
            width: 8px;
            border-top: 1.5px solid transparent;
            transform: translateY(-0.5px);
        }
    }

    &-checked {
        & .ui-checkbox-icon {
            background-color: currentColor;

            &::after {
                border-color: white;
            }

            &::before {
                border-color: transparent;
            }
        }
    }

    &-indeterminate {
        & .ui-checkbox-icon {
            background-color: transparent;

            &::after {
                border-color: transparent;
            }

            &::before {
                border-color: currentColor;
            }
        }
    }
}

.ui-checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;

    .ui-checkbox-group-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 4px;
    }
}

.ui-dialog {
    position: relative;
    display: inline-block;
}

.ui-dialog-background {
    background-color: #00000048;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

.ui-dialog-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.ui-dialog-content {
    contain: content;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 200px;
    max-width: 90%;
    min-height: 100px;
    max-height: 70%;
    margin: auto;
    z-index: 901;
    background-color: var(--ui-popover-backcolor);
    color: var(--ui-popover-color);
    box-shadow: var(--ui-popover-shadow);
    padding: var(--ui-popover-padding);
    border-radius: var(--ui-popover-border-radius);
    white-space: pre-wrap;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}